{% extends "user_main.html" %}
{% load static %}
{% load humanize %}

{% block title %} Instructors Page {% endblock title %}

{% block content %}

    <div class="container my-5">
        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t2.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Ibrahim S. - Graphic Design Instructor</h5>
                    <p class="card-text">Ibrahim is a creative designer with a strong background in branding and visual communication. He focuses on helping students understand design principles and apply them to real-world projects.</p>
                    <p>Teaches:</p>
                    <ol>
                        <li>Graphic Design and Fundamentals</li>
                        <li>Logo and Brand Identity</li>
                        <li>Adobe Photoshop</li>
                        <li>Canva and Social Media Design</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 902 354 5533</a></p>
                    <a href="/courses#graphic_design" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t1.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Precious A. - Web Development Instructor</h5>
                    <p class="card-text">Precious is a passionate web developer with experience in building responsive and dynamic websites using modern technologies. She specializes in creating structured learning paths that make complex concepts simple and practical.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>HTML and CSS</li>
                        <li>JavaScript</li>
                        <li>Django</li>
                        <li>Full-Stack Web Development</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 701 221 5549</a></p>
                    <a href="/courses#web_dev" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t19.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Richard M. - Mobile App Development Instructor</h5>
                    <p class="card-text">Richard is a mobile app developer experienced in building cross-platform applications. He enjoys guilding students through the process of designing and developing user-friendly mobile apps.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>Flutter Development</li>
                        <li>React Native</li>
                        <li>Mobile UI Design</li>
                        <li>App Deployment</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 904 824 3108</a></p>
                    <a href="/courses#app_dev" class="btn btn-outline-primary">View Course</a>
                </div>
                
            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t3.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Micheal T. - Data Science Instructor</h5>
                    <p class="card-text">Micheal is a data analyst with experience in data visualization and predictive analysis. He helps students turn raw data into meaningful insights using practical tools and techniques.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>Python for Data Science</li>
                        <li>Data Analysis</li>
                        <li>Data visualization</li>
                        <li>Introduction to Machine Learning</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 702 478 9172</a></p>
                    <a href="/courses#data_sci" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t17.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Diana T. - Business and Marketing Instructor</h5>
                    <p class="card-text">Diana is a business strategist with expertise in branding and digital marketing. She is passionate about helping students to understand how to build, promote, and grow successful businesses.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>Business Fundamentals</li>
                        <li>Digital Marketing</li>
                        <li>Branding Strategy</li>
                        <li>Social Media Marketing</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 803 764 5107 </a></p>
                    <a href="/courses#bus_market" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t16.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Ted O. - Programming Basics Instructor</h5>
                    <p class="card-text">Ted is a software developer who enjoy teaching beginners how to think logically and solve problems through coding. He simplifies programming concepts for new learners.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>Programming Fundamentals</li>
                        <li>Python Basics</li>
                        <li>Problem-Solving Techniques</li>
                        <li>Algorithms Introduction</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 906 637 1585</a></p>
                    <a href="/courses#p_basics" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t12.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">Sarah B. - Computer Basics Instructor</h5>
                    <p class="card-text">Sarah specializes in digital literacy and foundational computer skills. She helps beginners build confidence in using computers and essential productivity tools.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>Computer Fundamentals</li>
                        <li>Microsoft Office</li>
                        <li>Internet and Email Basics</li>
                        <li>File Management</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 705 894 3669</a></p>
                    <a href="/courses#com_basics" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

        <div class="card py-3 px-4 shadow-sm mb-5">
            <div class="row align-items-center">
            
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <img src="{% static "images/t5.jpeg" %}" class="img-fluid rounded-5" alt="Instructor Image">
                </div>

                <div class="card-body col-md-7 p-3 border rounded-3 shadow-sm">
                    <h5 class="card-title">James A. - UI/UX Design Instructor</h5>
                    <p class="card-text">James is a UI/UX deigner focused on creating intuitive and user-centered digital experiences. He teaches students how to design applications that are both beautiful and functional.</p>
                    <p>Teaches: </p>
                    <ol>
                        <li>UI Design Principles</li>
                        <li>UX Research</li>
                        <li>Wireframing and Prototyping</li>
                        <li>Figma</li>
                    </ol>
                    <p>Phone: <a class="text-decoration-none text-dark" href="tel:+2347012215549">+234 803 488 4728</a></p>
                    <a href="/courses#ui_ux" class="btn btn-outline-primary">View Course</a>
                </div>

            </div>  
        </div>

    </div>

{% endblock content %}