{% extends "user_main.html" %}
{% load static %}
{% load humanize %}

{% block title %} Business and Marketing {% endblock title %}

{% block content %}

    <div >
        <img src="{% static "images/b.m7.jpeg" %}" alt="Image not found"style="height: 450px; width: 100%; object-fit: cover; border-radius: 10px;">
    </div>

    <div class="container my-5">

        <h1 style="font-family: 'Poppins', sans-serif;">Introduction to Business and Marketing</h1>

        <div style="font-size: 18px; font-family: 'Inter', sans-serif;">
            <p style="text-indent: 40px;">Business and Marketing focus on creating value through products or services and promoting them effectively to customers. Marketing involves strategies such as branding, digital marketing, content creation, advertising, and customer engagement. <br> Understanding business and marketing helps individuals grow brands, attract customers, and build sustainable companies in today's competitive environment.</p>

            <div class="row my-3 g-4 mb-5">
                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m9.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Digital Marketing Fundamentals</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m5.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Social Media Marketing</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">SEO Basics</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m8.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Content Marketing Strategy</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m6.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Entrepreneurship for Beginners</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m3.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Freelancing and Personal Branding</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/b.m4.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Email Marketing Mastery</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}