{% extends "user_main.html" %}
{% load static %}
{% load humanize %}

{% block title %} Computer Basics {% endblock title %}

{% block content %}

    <div >
        <img src="{% static "images/combasics2.jpeg" %}" alt="Image not found"style="height: 450px; width: 100%; object-fit: cover; border-radius: 10px;">
    </div>

    <div class="container my-5">

        <h1 style="font-family: 'Poppins', sans-serif;">Introduction to Computer Basics</h1>
        <div style="font-size: 18px; font-family: 'Inter', sans-serif;">
            <p style="text-indent: 40px;":>Computer basics involve understanding how computers work and how to use them effectively. This includes knowledge of hardware (physical components like keyboard and monitor) and software (programs and operating systems like Windows or macOS). <br> Computer literacy is essential in today's digital world, enabling individuals to perform tasks such as document creation, internet browsing, and communication efficiently.</p>
        </div>

        <div class="row my-3 g-4 mb-5">

            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static "images/fullstack1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title">Introduction to Computer</h5>
                        <a href="##" class="btn btn-outline-primary">Start Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static "images/fullstack1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title">Microsoft Word Essentials</h5>
                        <a href="##" class="btn btn-outline-primary">Start Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static "images/fullstack1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title">Excel for Beginners</h5>
                        <a href="##" class="btn btn-outline-primary">Start Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static "images/fullstack1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title">PowerPoint Presentation Skills</h5>
                        <a href="##" class="btn btn-outline-primary">Start Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static "images/fullstack1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title">Internet and Email Basics</h5>
                        <a href="##" class="btn btn-outline-primary">Start Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static "images/fullstack1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title">Computer Hardware Basics</h5>
                        <a href="##" class="btn btn-outline-primary">Start Now</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

{% endblock content %}