{% extends "user_main.html" %}
{% load static %}
{% load humanize %}

{% block title %} Mobile App Development Page {% endblock title %}

{% block content %}

    <div >
        <img src="{% static "images/phonedev2.jpeg" %}" alt="Image not found"style="height: 450px; width: 100%; object-fit: cover; border-radius: 10px;">
    </div>

    <div class="container my-5">

        <h1 style="font-family: 'Poppins', sans-serif;">Introduction to Mobile App Development</h1>

        <div style="font-size: 18px; font-family: 'Inter', sans-serif;">
            <p style="text-indent: 40px;">Mobile App Development is the process of creating applications for smartphones and tablets. Theses applications can run on platforms like Android and iOS. Mobile Development can be done using technologies like Flutter, React Native, Kotlin, or Swift. Apps can be designed for entertainment, education, business, productivity and more.<br> Learning mobile app development allow applications that solve real-world problems and reach millions of users globally.</p>

            <div class="row my-3 g-4 mb-5">
                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/m.d3.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Android Development with Kotlin</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/m.d6.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">iOS Development with Swift</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/m.d2.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Flutter for Cross-Platform Apps</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/m.d4.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">React Native Fundamentals</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/m.d8.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Mobile UI Design Principles</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{% static "images/m.d1.jpeg" %}" class="card-img-top" style="height:120px; object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">Publishing Apps to Playstore</h5>
                            <a href="##" class="btn btn-outline-primary">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}