{% extends "user_main.html" %}
{% load static %}
{% load humanize %}

{% block title %} Django Web Development Page {% endblock title %}

{% block content %}

    <div>
        <img src="{% static "images/django1.jpeg" %}" alt="Image not found"style="height: 450px; width: 100%; object-fit: cover; border-radius: 10px;">
    </div>

    <div class="container my-5">

        <h1 style="font-family: 'Poppins', sans-serif;" class="mb-3">Django Web Development</h1>

        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module8" aria-expanded="false" aria-controls="collapseThree">
                    Module 1: Introduction to Django
                </button>
                </h2>
                <div id="module8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: What is Django?</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: Installing Django</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: Django Project Structure</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 4: Running a Django Project</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module2" aria-expanded="false" aria-controls="collapseThree">
                    Module 2: Django Fundamentals
                </button>
                </h2>
                <div id="module2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: Django Apps</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: URL Routing</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: Views</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 4: Templates</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module3" aria-expanded="false" aria-controls="collapseThree">
                    Module 3: Django Models
                </button>
                </h2>
                <div id="module3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: Introduction to Models</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: Creating Models</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: Database Migrations</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 4: Django ORM</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module4" aria-expanded="false" aria-controls="collapseThree">
                    Module 4: Django Forms
                </button>
                </h2>
                <div id="module4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: Creating Forms</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: Models Forms</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: Form Validation</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 4: Handling User Input</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module5" aria-expanded="false" aria-controls="collapseThree">
                    Module 5: User Authentication
                </button>
                </h2>
                <div id="module5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: Creating Users</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: Login and Logout</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: Password Security</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 4: User Permissions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module6" aria-expanded="false" aria-controls="collapseThree">
                    Module 6: Django Admin Panel
                </button>
                </h2>
                <div id="module6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: Using Admin Interface</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: Registering Models</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: Customizing Admin</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module7" aria-expanded="false" aria-controls="collapseThree">
                    Module 7: Building APIs
                </button>
                </h2>
                <div id="module7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 1: Introduction to Django REST Framework</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 2: Serailizers</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 3: API Views</a></li>
                            <li><a href="##" class="text-decoration-none text-black">Lesson 4: CRUD APIs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}