{% extends "user_main.html" %}
{% load static %}
{% load humanize %}

{% block title %} JavaScript Fundamentals Page {% endblock title %}

{% block content %}

    <div>
        <img src="{% static "images/java4.jpeg" %}" alt="Image not found"style="height: 450px; width: 100%; object-fit: cover; border-radius: 10px;">
    </div>

    <div class="container my-5">

        <h1 style="font-family: 'Poppins', sans-serif;" class="mb-3">JavaScript Fundamentals</h1>

        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module1" aria-expanded="false" aria-controls="module1">
                    Module 1: Introduction to JavaScript
                </button>
                </h2>
                <div id="module1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="js_fundamental_module1#JavaScript_definition" class="text-decoration-none text-black">Lesson 1: What is JavaScript?</a></li>
                            <li><a href="js_fundamental_module1#adding_js_to_html" class="text-decoration-none text-black">Lesson 2: Adding JavaScript to HTML</a></li>
                            <li><a href="js_fundamental_module1#writing_your_first_script" class="text-decoration-none text-black">Lesson 3: Writing your First Script</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module2" aria-expanded="false" aria-controls="collapseThree">
                    Module 2: Variables and Data Type
                </button>
                </h2>
                <div id="module2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="js_fundamental_module2#variables" class="text-decoration-none text-black">Lesson 1: Variables (let,const,var)</a></li>
                            <li><a href="js_fundamental_module2#strings" class="text-decoration-none text-black">Lesson 2: Strings</a></li>
                            <li><a href="js_fundamental_module2#numbers" class="text-decoration-none text-black">Lesson 3: Numbers</a></li>
                            <li><a href="js_fundamental_module2#booleans" class="text-decoration-none text-black">Lesson 4: Booleans</a></li>
                            <li><a href="js_fundamental_module2#arrays" class="text-decoration-none text-black">Lesson 5: Arrays</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module3" aria-expanded="false" aria-controls="collapseThree">
                    Module 3: Operators
                </button>
                </h2>
                <div id="module3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="js_fundamental_module3#arithmetic_operator" class="text-decoration-none text-black">Lesson 1: Arithmetic Operators</a></li>
                            <li><a href="js_fundamental_module3#comparison_operators" class="text-decoration-none text-black">Lesson 2: Comparison Operators</a></li>
                            <li><a href="js_fundamental_module3#logical_operators" class="text-decoration-none text-black">Lesson 3: Logical Operators</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module4" aria-expanded="false" aria-controls="collapseThree">
                    Module 4: Control Structures
                </button>
                </h2>
                <div id="module4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="js_fundamental_module4#if_statement" class="text-decoration-none text-black">Lesson 1: If Statements</a></li>
                            <li><a href="js_fundamental_module4#else_elseif" class="text-decoration-none text-black">Lesson 2: Else and else-if</a></li>
                            <li><a href="js_fundamental_module4#switch_statements" class="text-decoration-none text-black">Lesson 3: Switch Statements</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module5" aria-expanded="false" aria-controls="collapseThree">
                    Module 5: Loops
                </button>
                </h2>
                <div id="module5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="js_fundamental_module5#for_loops" class="text-decoration-none text-black">Lesson 1: For Loop</a></li>
                            <li><a href="js_fundamental_module5#while_loops" class="text-decoration-none text-black">Lesson 2: While Loop</a></li>
                            <li><a href="js_fundamental_module5#do_while_loops" class="text-decoration-none text-black">Lesson 3: Do-while Loop</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#module6" aria-expanded="false" aria-controls="collapseThree">
                    Module 6: Functions
                </button>
                </h2>
                <div id="module6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="js_fundamental_module6#function_declaration" class="text-decoration-none text-black">Lesson 1: Function Declaration</a></li>
                            <li><a href="js_fundamental_module6#function_parameters" class="text-decoration-none text-black">Lesson 2: Function Parameters</a></li>
                            <li><a href="js_fundamental_module6#return_values" class="text-decoration-none text-black">Lesson 3: Return Values</a></li>
                            <li><a href="js_fundamental_module6#arrow_functions" class="text-decoration-none text-black">Lesson 4: Arrow Functions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}